$mainGreen: #26B7EA
$secondaryGreen: #26B7EA

@mixin btn()
    color: #fff
    background-color: $mainGreen
    padding: 16px 60px
    border-radius: 8px
    border: none
    text-decoration: none
    font-weight: 700
    text-transform: uppercase
    font-size: 18px
    transition: all 0.3s
    position: relative
    display: flex
    align-items: center
    justify-content: center
    z-index: 1
    gap: 12px
    &:hover
        color: #fff
        background-color: darken($mainGreen, 4%)
    &::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        opacity: 1
        right: auto
        left: auto
        top: auto
        bottom: auto
        // background-color: $mainGreen
        border-radius: 12px
        z-index: -1
        box-shadow: 0 0 0 0px #3da100
        animation: shadowScale 2s linear infinite
        transition: box-shadow 2s
        user-select: none
        pointer-events: none
    span
        width: 100%
        height: 100%
        position: absolute
        z-index: 1
        overflow: hidden
        border-radius: 8px
        pointer-events: none
        user-select: none
        &::after
            content: ""
            position: absolute
            width: 40px
            height: 190%
            opacity: 0.3
            right: auto
            left: -50%
            top: -50%
            bottom: auto
            background-color: #fff
            transform: rotate(25deg)
            filter: blur(4px)
            animation: flash 3s linear infinite
            user-select: none
            pointer-events: none
    @keyframes shadowScale
        0%
            box-shadow: 0 0 0px 0px $mainGreen
        100%
            box-shadow: 0 0 22px 16px #3ea10000
    @keyframes flash
        0%
            left: -50%
        100%
            left: 300%
        

body
    background-color: #fff
    position: relative

@keyframes scroll
    to
        width: 100%


@import header
@import footer
@import scrollbar
@import firstScreen
@import titleBlock
@import bulletsLabel
@import catalogObjects
@import callToAction
@import catalogProjects
@import needProjects
@import turnkeyHouse
@import materials
@import prices
@import gallery
@import about

@import single-project


// Договор
.contract
    padding: 60px 0
    background-image: url('../img/bg2.jpg')
    background-attachment: fixed
    background-position: center
    &-wrapper
        display: grid
        grid-template-columns: 2fr 1fr
        gap: 40px
        @media screen and ( max-width: 500px )
            grid-template-columns: 1fr
    &-list
        display: flex
        flex-direction: column
        gap: 12px
        align-items: center
        justify-content: center
    &-number
        text-align: center
        font-size: 40px
        line-height: 1em
        font-weight: 700
        color: $mainGreen
        display: flex
        align-items: center
        justify-content: center
    &-item
        display: grid
        grid-template-columns: max-content auto
        background-color: #fff
        padding: 16px 40px
        gap: 20px
        width: 100%
    &-info
        display: flex
        flex-direction: column
        gap: 8px
        &-title
            line-height: 1.6em
            font-size: 20px
            font-weight: 600
        &-text
            p
                margin-bottom: 0
                font-size: 16px
                line-height: 1.6em
    &-image
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center
            @media screen and ( max-width: 500px )
                display: none

.letsBuild
    padding: 60px 0
    background-color: #fff
    &-wrapper
        display: grid
        grid-template-columns: 2fr 1fr
        gap: 40px
        @media screen and ( max-width: 500px )
            grid-template-columns: 1fr
    &-info
        display: flex
        flex-direction: column
        gap: 32px
        justify-content: center
        &-footer
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 20px
            font-size: 20px
            line-height: 1.6em
            text-wrap: balance
            &-link
                @include btn()
        &-title
            text-align: left
            font-size: 24px
            line-height: 1.6em
            opacity: 1
            text-transform: uppercase
            text-align: center
        &-list
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 32px 20px
            @media screen and ( max-width: 500px )
                grid-template-columns: 1fr
        &-ol
            display: flex
            align-items: center
            justify-content: center
            ol
                padding-left: 0
                margin-bottom: 0
                max-width: 80%
                display: flex
                flex-direction: column
                gap: 8px
                li
        &-item
            display: flex
            flex-direction: column
            gap: 4px
            position: relative
            display: flex
            justify-content: center
            &-title
                text-align: left
                font-size: 18px
                line-height: 1.2
                font-weight: 500
                opacity: 1
                text-transform: uppercase
                display: flex
                align-items: center
                justify-content: flex-start
                &::before
                    content: ""
                    display: block
                    width: 32px
                    height: 32px
                    background-repeat: no-repeat
                    background-position: center
                    background-size: contain
                    background-image: url("../img/hotspot_pulse_gif.gif")
                    position: relative
                    left: -4px

.advantages
    padding: 60px 0
    &-wrapper
        display: flex
        flex-direction: row
        gap: 20px
        flex-wrap: wrap
        justify-content: center
    &-item
        padding: 20px 32px
        width: 100%
        max-width: calc(100% / 4 - 20px)
        background-color: rgb(255, 255, 255)
        border-radius: 5px
        box-shadow: 0px 10px 40px 0px rgba(20, 0, 1, 0.15)
        aspect-ratio: 4/3
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        @media screen and ( max-width: 500px )
            max-width: 100%
        &-title
            font-size: 20px
            line-height: 1.6em
            font-weight: 700
            opacity: 1
            text-transform: uppercase
            text-align: center
            margin-bottom: 12px
        &-text
            font-size: 16px
            line-height: 1.6em
            opacity: 1
            text-align: center

// Форма
.formBlock
    padding: 60px 0
    background-image: url('@img/bg2.jpg')
    background-attachment: fixed
    background-position: center
    position: relative
    &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        opacity: 0.6
        right: auto
        left: auto
        top: auto
        bottom: 0
        background-color: #000
        z-index: 0
    &-container
        display: flex
        flex-direction: column
        position: relative
        z-index: 2
        .titleBlock
            color: #fff
    &-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-areas: 'typeHome formMain' 'sizeHome formMain' 'additionalServices formMain'
        @media screen and ( max-width: 500px )
            grid-template-columns: 1fr
            grid-template-areas: 'typeHome' 'sizeHome' 'additionalServices' 'formMain'
            gap: 12px
        .radio-group
            grid-area: typeHome
            display: flex
            flex-direction: column
            gap: 4px
            margin-bottom: 20px
        .input-group
            grid-area: sizeHome
            margin-bottom: 20px
        .checkbox-group
            grid-area: additionalServices
            display: flex
            flex-direction: column
            gap: 4px
        .form-group
            display: flex
            flex-direction: column
            gap: 12px
            grid-area: formMain
            justify-content: space-between
            .form-label
                color: #fff
        .group-form-title
            color: #fff
        .form-check-label
            color: #fff
        .form-check-input:checked
            background-color: $mainGreen
            border-color: $mainGreen
        .form-check-input:focus
            box-shadow: 0 0 0 .25rem transparentize($mainGreen, 0.75)
    &-footer
        margin-top: 40px
        display: flex
        flex-direction: column
        gap: 20px
        justify-content: center
        align-items: center
        span
            opacity: 1
            color: #fff
            a
                color: $mainGreen
        &-link
            @include btn()

.mortgage
    padding: 60px 0
    background-image: url('@img/bg2.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        opacity: 0.8
        right: auto
        left: auto
        top: auto
        bottom: 0
        background-color: #fff
        z-index: 1
    &-wrapper
        position: relative
        z-index: 2
        display: flex
        flex-direction: column
        gap: 20px
        flex-wrap: wrap
        justify-content: center
    &-title
        font-size: 20px
        line-height: 1.6em
        font-weight: 700
        opacity: 1
        text-transform: uppercase
        text-align: center
        margin-bottom: 12px
        span
            color: $mainGreen
    &-logos
        display: flex
        flex-direction: row
        flex-wrap: wrap
        &-item
            width: 100%
            padding: 4px 12px
            img
                width: 100%
                height: auto
                @media screen and ( max-width: 500px )
                    max-width: 100%
                    width: 100%
            @media screen and ( min-width: 768px )
                max-width: 25%
    &-footer
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
        justify-content: center
        align-items: center
        @media screen and ( max-width: 500px )
            grid-template-columns: 1fr
        &-list
            ul
                padding-left: 0
                list-style-type: none
                display: flex
                flex-direction: column
                gap: 8px
                margin-bottom: 0
                li
                    background-image: url("../img/yes1.png")
                    background-repeat: no-repeat
                    padding-left: 32px
                    font-size: 18px
        &-btn
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 16px
            span
                text-align: center
                font-weight: 600
                font-size: 20px
                text-wrap: balance
        &-link
            @include btn()

.modalQuiz
    .modal
        &-dialog
            max-width: 700px
        &-content
            background: none
            border: none
            border-radius: 24px
            background-color: #fff
        &-header
            border-radius: 24px 24px 0 0
            background-color: $mainGreen
            p
                font-size: 24px
                font-weight: 600
                color: #fff
        &-body
            display: flex
            flex-direction: row
            gap: 20px
            flex-wrap: wrap
            @media screen and ( max-width: 500px )
                flex-direction: column
            .radio-group
                grid-area: typeHome
                display: flex
                flex-direction: column
                gap: 4px
                // margin-bottom: 20px
            .input-group
                grid-area: sizeHome
                // margin-bottom: 20px
            .checkbox-group
                grid-area: additionalServices
                display: flex
                flex-direction: column
                gap: 4px
            .form-group
                display: flex
                flex-direction: column
                gap: 12px
                grid-area: formMain
                justify-content: space-between
                .form-label
                    color: #3c3c3c
            .group-form-title
                color: #3c3c3c
                font-weight: 600
            .form-check-label
                color: #3c3c3c
            .form-check-input:checked
                background-color: $mainGreen
                border-color: $mainGreen
            .form-check-input:focus
                box-shadow: 0 0 0 .25rem transparentize($mainGreen, 0.75)
            .col
                &-left
                    display: flex
                    flex-direction: column
                    gap: 20px
                    width: calc( 100% / 2 - 10px )
                    @media screen and ( max-width: 500px )
                        width: 100%
                &-right
                    display: flex
                    flex-direction: column
                    gap: 20px
                    width: calc( 100% / 2 - 10px )
                    @media screen and ( max-width: 500px )
                        width: 100%
        &-footer
            width: 100%
            font-size: 12px
            display: flex
            align-items: center
            justify-content: center
            .wpcf7
                width: 100%
            span
                color: #333
                text-align: center
                width: 100%
                a
                    color: #333
            button
                @include btn()
                padding: 8px 32px
                font-size: 16px
                font-weight: 400
                width: 100%
                &::before
                    display: none

.modal
    &-backdrop
        z-index: 39
    &-projects
        z-index: 40
        .modal
            &-dialog
                max-width: 800px
            &-content
                border: none
                border-radius: 16px
            &-header
                display: flex
                flex-direction: row
                align-items: flex-start
                background-color: $mainGreen
                border-radius: 16px 16px 0 0
                color: #fff
                padding: 16px 16px 16px 32px
            &-body
                padding: 16px 32px
            &-title
                margin-bottom: 0
                font-size: 20px
                font-weight: 700
            &-subtitle
                margin-bottom: 0
                font-size: 16px
                font-weight: 400
            &-section
                &-titleBlock
                    display: flex
                    flex-direction: column
                    span
                        &.title
                            font-size: 22px
                            font-weight: 600
                            line-height: 1.2em
                        &.subtitle
                            font-size: 16px
                            font-weight: 400
                            line-height: 1.2em
            &-footer
                width: 100%
                font-size: 12px
                display: flex
                align-items: center
                justify-content: center
                .wpcf7
                    width: 100%
                span
                    color: #333
                    text-align: center
                    width: 100%
                    a
                        color: #333
                &-wrapper
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    gap: 20px
                    padding: 32px 0 0
                    @media screen and ( max-width: 500px )
                        grid-template-columns: 1fr
                &-text
                    ul
                        padding-left: 0
                        list-style-type: none
                        display: flex
                        flex-direction: column
                        gap: 8px
                        margin-bottom: 0
                        li
                            background-image: url("../img/yes1.png")
                            background-repeat: no-repeat
                            background-size: auto
                            background-position: center left
                            padding-left: 32px
                            font-size: 14px
                    span
                        font-weight: 600
                        font-style: italic
                        font-size: 14px
                &-form
                    display: flex
                    flex-direction: column
                    gap: 12px
                    .btn
                        @include btn()
                        padding: 8px 24px
                        width: 100%
        &-main
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 20px 12px
            @media screen and ( max-width: 500px )
                grid-template-columns: repeat(1, 1fr)
            &-preview
                img
                    border-radius: 12px
                    width: 100%
            &-info
                ul
                    padding-left: 0
                    margin-bottom: 0
                    list-style-type: none
                    display: flex
                    flex-direction: column
                    gap: 8px
                    li
                        display: flex
                        flex-direction: row
                        align-items: center
                        gap: 4px
                        padding: 8px 8px
                        border-radius: 4px
                        &:nth-child(odd)
                            background-color: #f0f0f0
        &-gallery
            display: flex
            flex-direction: column
            gap: 20px
            padding: 40px 0
            &-list
                display: grid
                grid-template-columns: repeat(3, 1fr)
                gap: 12px
                @media screen and ( max-width: 500px )
                    grid-template-columns: repeat(2, 1fr)
            &-item
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    border-radius: 12px

.wpcf7
    form
        &.sent
            .wpcf7-response-output
                border-color: #4cbd568a
                background: #b6e5ba
                border-radius: 8px
                color: #333
                text-align: center
                margin: 0
                padding: 8px
                font-size: 14px !important

.production
    &-wrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 20px
        width: 100%
        @media screen and ( max-width: 500px )
            grid-template-columns: repeat(2, 1fr)
    &-item
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center
            border-radius: 8px

.videoBlock
    padding: 60px 0
    &-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 20px
        width: 100%
        @media screen and ( max-width: 500px )
            grid-template-columns: repeat(1, 1fr)
    &-item
        iframe
            width: 100%
            height: 100%
            border-radius: 8px
            aspect-ratio: 16/9


.page-numbers
    min-width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    padding: 4px 8px
    background: #fff
    border-radius: 12px
    color: #212529
    text-decoration: none
    &.current
        background: #26b7ea
        color: #fff